top; configure terminal;

# configuration 7f65be028e7546508970a89dcd6c7e19 generated Wed Jul 1 06:31:44 2026; firmware version 384502

%if% available "user"

user "admin"
  summary "Administrator"
  password-hashed "$1$12345678$kbapHduhihjieYIUP66Xt/"
  access-level privileged
exit

%endif%
