top; configure terminal;

# configuration e9c1b19804394590b92e7f00c1ca2eed generated Tue Jun 2 10:40:17 2026; firmware version 384502

%if% available "user"

user "admin"
  summary "Administrator"
  password-hashed "$1$12345678$kbapHduhihjieYIUP66Xt/"
  access-level privileged
exit

%endif%
